<header class="shadow-md bg-white">
  <div
    class="p-4 bg-gradient-to-r from-blue-100 via-white to-blue-100 flex items-center justify-between"
  >
    <% 
// List of category paths
const categoryPaths = [
  '/cars', 
  '/properties',
  '/mobiles', 
  '/jobs', 
  '/bikes', 
  '/electronics', 
  '/commercialsvehicles',
  '/moreoptions'
]; 
%>
 
    
    <% if (currentPath === '/choosecategory') { %>
    <a href="/dashboard"><span class="text-xl">&#8592;</span>
Post your Ad</a>
    <% } else if (categoryPaths.includes(currentPath)) { %>
    <a href="/choosecategory"><span class="text-xl">&#8592;</span>
Post your Ad</a>
    <% } %>
  </div>



</header>

