<header class="shadow-md bg-white">
  <div
    class="p-4 bg-gradient-to-r from-blue-100 via-white to-blue-100 flex items-center justify-between"
  >
    <a href="/dashboard"><span class="text-xl">&#8592;</span> Categories</a>
  </div>
</header>
